/* YOUR STYLING HERE */
body {
  background-color: #E5F3F4;
  margin: 20px;
}

h1 {
  color: #37BECC;
  border-bottom: 3px solid #777777;
}

p {
  color: #777777;
}

.carousel {
  margin-top: 20px;
}
